# Copier vers .env pour le dev local (Next hors Docker)
DATABASE_URL="postgresql://..."

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=

NEXT_PUBLIC_AWS_REGION=
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_CLIENT_ID=

REDIS_HOST=
REDIS_PORT=
NEXT_PUBLIC_APP_URL=
