DATABASE_URL="postgresql://..."

NEXT_PUBLIC_SENTRY_DSN="https://db4192d01f8bbbffaa70464debe555ef@o4511548228370432.ingest.de.sentry.io/4511548229812304"

NEXT_PUBLIC_AWS_REGION=
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_CLIENT_ID=
