@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';

@theme {
  --font-arimo: 'Arimo', sans-serif;
  --font-unbounded: var(--font-unbounded);

  --color-nara-black: #050505;
  --color-nara-pink: #d90097;
}

/* --- POLICES CENTRALISÉES --- */
.font-arimo {
  font-family: var(--font-arimo);
}

.font-unbounded {
  font-family: var(--font-unbounded);
}

/* Grands titres */
.nara-title {
  font-family: var(--font-unbounded) !important;
  font-weight: 900 !important;
  letter-spacing: -0.03em;
}
